@media (width < 375px) {
  body > div.card {
    height: auto;
  }
  body > div.card > div.card_main {
    display: flex;
    flex-direction: column;
  }
  body > div.attribution {
    display: none;
  }
  button.item_next{
    border: none;
    border-style: none;
  }
}
@media (width > 375px) {
  body {
    height: 100vh;
  }
  body > div.card {
    display: flex;
    flex-direction: row;
  }
  body > div.card > div.card_main {
    height: auto;
    width: 100%;
    border-radius: 20px;
  }
}
