*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Card principal  */
div.card_main{
    height: 500px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ffff;
    border-radius: 20px;
    background-color: rgb(80, 9, 211);
}
div.item_Tittle{
    font-weight: 600;
    font-size: 18px;
    color: rgb(177, 141, 243);
}
/* Circulo central */
div.item_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    font-weight: 600;
    font-size: 18px;
    color: #ffff;
    border-radius: 50%;
    background: rgb(90,12,156);
    background: linear-gradient(0deg, rgba(90,12,156,1) 58%, rgba(2,5,51,1) 90%); 
}
div.centerP{
    font-size: 70px;
}
div.item_center>span{
    color: rgb(177, 141, 243);
}